.content-admin{
    background: whitesmoke;
    height: 100%;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;

}
.content-admin ul {
    background-color: transparent;
    padding: 0px;

}
.content-admin ul li{
    list-style: none;
    background-color: transparent;
    border: 1px solid black;
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1em ;
    box-shadow: .25em .25em .33em rgba(0, 0, 0, 0.5);
    border-radius: .5em;
}