.content-equipaments{
    height: 100%;
    width: 100%;
    border-top: 1px solid #000;

}
.content-equipaments-buttons{
    display: grid;
    grid-template-columns: auto auto auto auto auto;

}
.content-equipaments-registros {
    display:grid;
    grid-template-columns: auto auto auto auto auto ;
    margin: 0 1em;
}
.content-equipaments-registros li{
    list-style: none;
}

